# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
dist/
.DS_Store

# Google Calendar API (Sensitive)
backend/credentials.json
backend/token.json
backend/events.json

# Logs
*.log

# Docker
.docker/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

# Database
backend/mahakaal_chats.db
